body {
    margin: 0;
    background-color: #dbdbdb;
}

body * {
    font-family: Roboto;
}

.banner {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

/* BIG MENU BAR */
.big-menu {
    margin: 0;
    padding: 0;
}

    .big-menu .navbar-default {
        background-color: #33ca93;
        background-image: none;
        box-shadow: none;
    }

    .big-menu .navbar {
        border-width: 0;
    }

.navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
    border-width: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
}

/*a img{
	margin: 10px 0px;
} use image logo */

.first-line-menu {
    margin: 0;
    padding: 10px 10px;
    height: 70px;
}

    .first-line-menu a {
        margin: 0px 20px;
        position: relative;
    }

    .first-line-menu .form-control {
        margin: 0;
        margin-left: 5px;
        width: 360px;
    }

    .first-line-menu button {
        margin-left: -20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.second-line-menu {
    margin: 0;
    padding: 0px 0px;
    height: 60px;
}

.main-screen {
    margin: 15px 15px 15px 15px; /*15px 100px 0px 130px*/
    padding: 0 15px;
    /*background-color: green;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;*/
    height: auto;
    background:rgb(204, 203, 203);
}

.main-screen .row {
    padding: 0;
}

.main-screen img {
    max-height: 600px;
    padding-left: 18%
}

.main-screen-2 {
    margin: 15px 15px 15px 15px; /*15px 100px 0px 130px*/
    padding: 0 15px;
    /*background-color: green;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;*/
    height: auto;
    background: rgb(204, 203, 203);
}

    .main-screen-2 .row {
        padding: 0;
    }

    .main-screen-2 img {
        max-height: 600px;
        padding-left: 18%
    }

.left-box {
    background:rgb(204, 203, 203);
}
.right-box {
    background:rgb(204, 203, 203);
}

.book-oder {
    margin-left: 10px;
    height: 50px;
}

.book-oder div {
    padding: 0;
    width: auto;
}

#btn-mua{
    margin-left: 80px;
    width: 200px;
    height: 100%;
}
.book-oder button {
    height: 35px;
}

/*right here*/

#soLuong {
    height: 35px;
    width: 35px;
    text-align:center;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img-responsive{
}


/* Shine */


figure {
    overflow: hidden;
}

figure:hover + span {
        bottom: -36px;
        opacity: 1;
    }

.hover14 figure {
    position: relative;
}

    .hover14 figure::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

    .hover14 figure:hover::before {
        -webkit-animation: shine .75s;
        animation: shine .75s;
    }

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.main-screen-2 input[type="text"],
.main-screen-2 input[type="number"],
.main-screen-2 textarea {
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid rgb(160, 141, 141);
    background: transparent;
    outline: none;
    height: 35px;
    color: rgb(5, 5, 5);
    font-size: 16px;
}



.the-loai * {
    display: inline-block;
}

.the-loai select {
    width: 200px;
    height: 30px;
    color: #33ca93;
    margin-left: 1rem;
}