@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Graph</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
          crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/d3.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="~/Scripts/dist/timelines-chart.js"></script>
    <script src="~/Scripts/loom/d3-loom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
    <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />
    <style>
        .circle {
            background-color: blue;
            height: 100%;
            border-radius: 100%;
            text-align: center;
            line-height: 200px;
            font-size: 30px;
        }

            .circle span {
                line-height: normal;
                display: inline-block;
                vertical-align: middle;
                color: white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
            }

        .bubbles {
            stroke-width: 2px;
            stroke: white;
        }

            .bubbles:hover {
                stroke: black;
            }

        .tooltip {
            position: absolute;
            z-index: 1070;
            margin: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            font-size: .875rem;
            opacity: 0;
        }

        .container {
            margin: 0;
            padding: 0;
        }

        .col-md-4 {
            margin: 0;
            padding: 0;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: lightgrey;
            shape-rendering: crispEdges;
        }

        .bar, .total_bar {
            shape-rendering: crispEdges;
        }

            .bar:hover {
                opacity: 0.7;
            }

        .x.axis path {
            display: none;
        }


        .total_bar {
            fill: #DDD;
            fill-opacity: 0.6;
        }
    </style>
</head>
<body>
    <div class="container" style="width: 100%">
        <svg id="promotion" style="width:100%"></svg>
        <script>
            var data;
            $.ajax({
                url: "/graph/graphPromo",
                type: "get",
                async: false,
                success: function (result) {
                    data = JSON.parse(result);
                }
            });
            TimelinesChart()('#promotion')
                .zScaleLabel('My Scale Units')
                .zQualitative(true)
                .data(data);
        </script>
    </div>
    <div class="container" style="width: 100%">
        <div class="col-md-4" id="loom" style="margin-left: -150px; width: auto"></div>
        <div class="col-md-4" id="bubble-father" style="margin-left:-30px">
            <svg id="bubble"></svg>
        </div>
        <div class="col-md-4" id="bar" style="margin-left: -30px; width: auto"></div>
    </div>

    <script>
        //create SVG
        var w = document.getElementById('loom').offsetWidth;
        var margin = { left: 50, top: 70, right: 0, bottom: 50 },
            width = 700,
            height = 400,
            innerRadius = 150, //244,
            outerRadius = innerRadius * 1.05;

        var svg = d3.select("#loom").append("svg")
            .attr('align', 'center')
            .attr("width", width)
            .attr("height", height + margin.top + margin.bottom);

        //Some default parameters
        var pullOutSize = 20 + 30 / 135 * innerRadius;
        var numFormat = d3.format(",.0f");
        //Manually sorted the inner characters based on the total number of words spoken

        //Initiate the loom function with all the options
        var loom = d3.loom()
            .padAngle(0.05)
            .sortGroups(d3.descending)
            .sortSubgroups(d3.ascending)
            .heightInner(50)
            .emptyPerc(1)
            .widthInner(30)
            .value(function (d) { return d.count; })
            .inner(function (d) { return d.group; })
            .outer(function (d) { return d.theloai; });
        //Initiate the inner string function that belongs to the loom
        var string = d3.string()
            .radius(innerRadius)
            .pullout(pullOutSize);
        //Initiate an arc drawing function that is also needed
        var arc = d3.arc()
            .innerRadius(innerRadius * 1.01)
            .outerRadius(outerRadius);

        //color
        var colorLoom = d3.scaleOrdinal(d3.schemeSet1)
        //data
        var testData;
        $.ajax({
            url: "/graph/GraphGroupDataCustomer",
            type: "get",
            async: false,
            success: function (result) {
                testData = JSON.parse(result);
            }
        });

        //Create a group that already holds the data
        var g = svg.append("g")
            .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")")
            .datum(loom(testData));
        ////////////////////// Draw outer arcs /////////////////////
        var arcGroup = g.append("g").attr("class", "arc-outer-wrapper");
        //Create a group per outer arc, which will contain the arc path + the location name & number of words text
        var arcs = arcGroup.selectAll(".arc-wrapper")
            .data(function (s) { return s.groups; })
            .enter().append("g")
            .attr("class", "arc-wrapper")
            .each(function (d) { d.pullOutSize = (pullOutSize * (d.startAngle > Math.PI + 1e-2 ? -1 : 1)) });
        //Create the actual arc paths
        var outerArcs = arcs.append("path")
            .attr("class", "arc")
            .style("fill", (d) => colorLoom(d.outername) )
            .attr("d", arc)
            .attr("transform", function (d, i) {
                return "translate(" + d.pullOutSize + ',' + 0 + ")"; //Pull the two slices apart
            });

        //////////////////// Draw inner strings ////////////////////
        var tooltipLoom = d3.select("#loom")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "black")
            .style('font-size', '1.5rem')
            .style("border-radius", "5px")
            .style("padding", "10px")
            .style("color", "white");

        var showTooltipL = function (d) {
            tooltipLoom.transition()
                .duration(200)
            tooltipLoom.style("opacity", 1)
                .html(d.outer.outername + ': ' + d.outer.value)
                .style("left", 170 + "px")
                .style("top", 0 + "px")
            d3.select(this).style("fill", d3.rgb('#89f4e6').brighter(0.3));
        }
        var moveTooltipL = function (d) {
            tooltipLoom
                .style("left", 170 + "px")
                .style("top", 0 + "px")
        }
        var hideTooltipL = function (d) {
            tooltipLoom.transition()
                .duration(200)
                .style("opacity", 0)

            d3.select(this).style("fill", () => d3.rgb(colorLoom(d.outer.outername)).brighter(0.3));
        }
        ////
        var stringGroup = g.append("g").attr("class", "string-wrapper");
        //Draw the paths of the inner strings
        var strings = stringGroup.selectAll("path")
            .data(function (strings) { return strings; })
            .enter().append("path")
            .attr("class", "a")
            //.style("fill", function (d) { console.log(d); return d3.rgb(color(d.inner.name)).brighter(0); })
            .style("fill", (d) => d3.rgb(colorLoom(d.outer.outername)).brighter(0.3) )
            .style("opacity", 0.65)
            .attr("d", string)
            .on("mouseover", showTooltipL)
            .on("mousemove", moveTooltipL)
            .on("mouseleave", hideTooltipL);

        //////////////////// Draw inner labels /////////////////////
        var innerLabelGroup = g.append("g").attr("class", "inner-label-wrapper");
        //Place the inner text labels in the middle
        var innerLabels = innerLabelGroup.selectAll("text")
            .data(function (s) { return s.innergroups; })
            .enter().append("text")
            .attr("class", "inner-label")
            .attr("font-family", "Roboto")
            .attr("x", function (d, i) { return d.x - 25; })
            .attr("y", function (d, i) { return d.y; })
            .attr("dy", ".35em")
            .text(function (d) { return d.name; })
            .on("mouseover", function (d) {
                tooltipLoom.transition()
                    .duration(200)
                tooltipLoom.style("opacity", 1)
                    .style("left", 170 + "px")
                    .style("top", 0 + "px")
                if (d.name == 'Group 1')
                    tooltipLoom.html('Tổng hoá đơn < 200k')
                else if (d.name == 'Group 2')
                    tooltipLoom.html('200k < Tổng hoá đơn < 1000k')
                else
                    tooltipLoom.html('1000k < Tổng hoá đơn')
            })
            .on("mousemove", moveTooltipL)
            .on("mouseleave", function (d) {
                tooltipLoom.transition()
                    .duration(200)
                    .style("opacity", 0)
            });

        //////////////////// Draw outer labels /////////////////////
        //The text needs to be rotated with the offset in the clockwise direction
        var outerLabels = arcs.append("g")
            .each(function (d) { d.angle = ((d.startAngle + d.endAngle) / 2); })
            .attr("class", "outer-labels")
            .attr("text-anchor", function (d) { return d.angle > Math.PI ? "end" : null; })
            .attr("transform", function (d, i) {
                var c = arc.centroid(d);
                return "translate(" + (c[0] + d.pullOutSize) + "," + c[1] + ")"
                    + "rotate(" + (d.angle * 180 / Math.PI) + ")"
                    + "translate(" + 10 + ",-35)"
                    + (d.angle > Math.PI ? "rotate(360)" : "")
                    + ((d.angle * 180 / Math.PI) >= 180 && (d.angle * 180 / Math.PI) <= 190 ? "rotate(180)" : "")
            });

        //The outer name
        outerLabels.append("text")
            .attr("class", "outer-label")
            .attr("dy", ".35em")
            .attr('text-anchor', 'middle')
            .attr("font-family", "Roboto")
            .text(function (d, i) { return d.outername; });

        //The value below it
        outerLabels.append("text")
            .attr('text-anchor', 'middle')
            .attr("class", "outer-label-value")
            .attr("dy", "1.5em")
            .attr("font-family", "Roboto")
            .text(function (d, i) { return numFormat(d.value) + " time"; });
    </script>
    <script>
        var data;
        $.ajax({
            url: "/graph/graphHistory",
            type: "get",
            async: false,
            success: function (result) {
                data = JSON.parse(result);
            }
        });

        var diameter = 500;
        var colorCircle = d3.scaleOrdinal(d3.schemeDark2);

        var element = document.getElementById('bubble');
        var positionInfo = element.getBoundingClientRect();
        var width = positionInfo.width;

        var bubble = d3.pack(data)
            .size([width * 1.2, diameter]);

        var svg = d3.select("#bubble")
            .attr("height", diameter)
            .attr('width', '100%')
            .attr("class", "bubble");

        var nodes = d3.hierarchy(data)
            .sum(function (d) { return d.Count; });

        var tooltip = d3.select("#bubble-father")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "black")
            .style('font-size', '1.5rem')
            .style("border-radius", "5px")
            .style("padding", "10px")
            .style("color", "white")

        var showTooltip = function (d) {
            tooltip.transition()
                .duration(200)
            tooltip.style("opacity", 1)
                .html(d.data.id + " - " + d.data.Name + " - View: " + d.data.SoLuong)
                .style("left", 0 + "px")
                .style("top", 0 + "px")
            d3.select(this).select('circle').style("fill", '#89f4e6');
        }
        var moveTooltip = function (d) {
            tooltip
                .style("left", 0 + "px")
                .style("top", 0 + "px")
        }
        var hideTooltip = function (d) {
            tooltip.transition()
                .duration(200)
                .style("opacity", 0)
            d3.select(this).select('circle').style("fill", colorCircle(d3.select(this).attr('id')*1));
        }

        var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function (d) {
                return !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("id", (d, i) => i)
            .attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            })
            .on('click', function (d) {
                navigator.clipboard.writeText(d.data.id);
                tooltip.transition()
                    .duration(200)
                tooltip.style("opacity", 1)
                    .html('Copied id ' + d.data.id + ' to clipboard')
                    .style("left", 0 + "px")
                    .style("top", 0 + "px")
            })
            .on("mouseover", showTooltip)
            .on("mousemove", moveTooltip)
            .on("mouseleave", hideTooltip);

        //circle
        node.append("circle")
            .attr("r", function (d) {
                return d.r;
            })
            .style("fill", function (d, i) {
                return colorCircle(i);
            });
        //name book
        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return d.data.Name.substring(0, d.r / 3.5);
            })

            .attr("font-family", "Roboto")
            .attr("font-size", function (d) {
                return d.r / 4;
            })
            .attr("fill", "white");
        //sl
        node.append("text")
            .attr("dy", "1.3em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return 'Sl: ' + d.data.SoLuong;
            })
            .attr("font-family", "Roboto")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");
        //number
        node.append("text")
            .attr("dy", "2.3em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return 'View: ' + d.data.Count;
            })
            .attr("font-family", "Roboto")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");

        d3.select(self.frameElement)
            .style("height", diameter + "px");
    </script>
    <script>

        var margin = { top: 20, right: 0, bottom: 30, left: 30 };
        var element = document.getElementById('bubble');
        var positionInfo = element.getBoundingClientRect();
        var w = positionInfo.width;
        w = (w > 500) ? 500 : 350;
        var width = w - margin.left - margin.right;
        var height = 500 - margin.top - margin.bottom;

        var x0 = d3.scaleBand()
            .range([0, width])
            .round(0.1);

        var x1 = d3.scaleBand();

        var y = d3.scaleLinear()
            .range([height, 0]);

        var svg = d3.select('#bar').append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var data;
        $.ajax({
            url: "/graph/GraphGroupBill",
            type: "get",
            async: false,
            success: function (result) {
                data = JSON.parse(result);
            }
        });
        //get max value
        maxValue = 1;
        data.forEach(t => t.values.forEach(v => maxValue = v.value > maxValue ? v.value : maxValue))

        var categoriesNames = data.map(function (d) { return d.month; });
        var rateNames = [];
        for (i = 0; i < data.length; i++) {
            for (j = 0; j < data[i].values.length; j++) {
                if (!rateNames.includes(data[i].values[j].rate))
                    rateNames.push(data[i].values[j].rate)
            }
        }

        c = d3.schemeSet1;

        x0.domain(categoriesNames);
        x1.domain(rateNames).range([0, x0.bandwidth()]);
        y.domain([0, d3.max(data, function (categorie) { return d3.max(categorie.values, function (d) { return d.value; }); })]);

        var xAxis = d3.axisBottom(x0).tickSize(0);
        var yAxis = d3.axisLeft(y).tickFormat(d3.format("d")).ticks(maxValue);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .style('opacity', '0')
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .style('font-weight', 'bold')
            .text("Value");

        svg.select('.y').transition().duration(500).delay(1300).style('opacity', '1');

        var slice = svg.selectAll(".slice")
            .data(data)
            .enter().append("g")
            .attr("class", "g")
            .attr('id', (d) => d.month)
            .attr('height', height)
            .attr("transform", function (d) { return "translate(" + x0(d.month) + ", 0)"; });
        ////////
        var tooltipBar = d3.select("#bar")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "black")
            .style('font-size', '1.5rem')
            .style("border-radius", "5px")
            .style("padding", "10px")
            .style("color", "white");

        var showTooltip = function (d) {
            tooltipBar.transition()
                .duration(200)
            tooltipBar.style("opacity", 1)
                .html('Tháng ' + d3.select(this.parentNode).attr('id') + ' - ' + d.rate + ': ' + d.value)
                .style("left", 0 + "px")
                .style("top", 0 + "px")
            d3.select(this).style("fill", '#89f4e6');
        }
        var moveTooltip = function (d) {
            tooltipBar
                .style("left", 0 + "px")
                .style("top", 0 + "px")
        }
        var hideTooltip = function (d) {
            tooltipBar.transition()
                .duration(200)
                .style("opacity", 0)
            d3.select(this).style("fill", c[rateNames.indexOf(d.rate)]);
        }

        slice.selectAll("rect")
            .data(function (d) { return d.values; })
            .enter().append("rect")
            .attr("width", x1.bandwidth())
            .attr("x", function (d) { return x1(d.rate); })
            .style("fill", function (d) { return c[rateNames.indexOf(d.rate)] })
            .attr("y", function (d) { return y(0); })
            .attr("height", function (d) { return height - y(0); })
            .on("mouseover", showTooltip)
            .on("mousemove", moveTooltip)
            .on("mouseleave", hideTooltip);

        slice.selectAll("rect")
            .transition()
            .delay(function (d) { return Math.random() * 1000; })
            .duration(1000)
            .attr("y", function (d) { return y(d.value); })
            .attr("height", function (d) { return height - y(d.value); });

        //ten
        var legend = svg.selectAll(".legend")
            .data(rateNames)
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; })
            .style("opacity", "0");

        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function (d) { return c[rateNames.indexOf(d)] });

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function (d) { return d; });

        legend.transition().duration(500).delay(function (d, i) { return 1300 + 100 * i; }).style("opacity", "1");

        var showTooltipName = function (d) {
            tooltipBar.transition()
                .duration(200)
            tooltipBar.style("opacity", 1)
                .html('Tháng ' + d + ': ' + data[data.map((e) => e.month).indexOf(d)].values.map((e) => e.value).reduce((sum, a) => sum + a, 0) + ' đơn')
                .style("left", 0 + "px")
                .style("top", 0 + "px")
            d3.select(this).style("fill", '#89f4e6');
        }

        svg.select('.x').selectAll(".tick")
            .on("mouseover", showTooltipName)
            .on("mousemove", moveTooltip)
            .on("mouseleave", hideTooltip);
    </script>
</body>

</html>