body {
    margin: 0;
    background-color: #dbdbdb;
}

/*INFO*/
input {
    height: 30px;
    width: 400px;
    margin: 10px 5px;
    text-align: left;
}

h3 {
    margin: 0;
    margin-top: 10px;
    padding: 10px 5px;
    border-left: 5px solid #ef9c3e;
    background-color: #224545;
    color: #fff;
}

span {
    color: red;
}

#ship-info {
    background-color: #fff;
    margin: 0;
}

    #ship-info .row {
        margin: 0px;
        height: 50px;
        text-align: left;
        vertical-align: middle;
        line-height: 50px;
    }

.label {
    color: #000;
    font-size: 100%;
    padding: 0 1rem;
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
}

/*BILL*/
hr {
    margin: 0;
}

#bill {
    padding: 0 15px 0 0;
    right: 0;
}

.detail {
    background-color: #fff;
    height: 100%;
}

    .detail .row {
        vertical-align: middle;
        line-height: 50px;
        padding: 0 15px;
    }

.sub-total {
    font-size: 85%;
    color: #96989b;
}

.btn-cash {
    width: 100%;
    margin-top: 5px;
}

h4 {
    margin: 0;
    margin-top: 10px;
    padding: 10px 5px;
    border-left: 5px solid #ef9c3e;
    background-color: #224545;
    color: #fff;
    font-size: 85%;
}

.giftcode {
    margin: 0;
    background-color: #fff;
    height: 100%;
    vertical-align: middle;
    line-height: 117px;
    padding: 0 15px;
}

    .giftcode input {
        margin: 0;
        padding: 1px 10px;
        width: 21rem;
        height: 3rem;
        margin-right: -10px;
        border: 0;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: #fff7b2;
    }

.check-giftcode {
    width: 7rem;
    height: 30px;
    line-height: 20px;
    padding: 0;
    border: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #ef9c3e
}

    .check-giftcode:hover {
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#review {
    height: 30px;
    width: 400px;
    margin: 10px 5px;
    text-align: left;
    resize: none;
    margin-left: 5px;
    padding-left: 1px;
}