body {
}
body {
    margin: 0;
    background-color: #dbdbdb;
}

body * {
    font-family: Roboto;
}

.banner {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

/* BIG MENU BAR */
.big-menu {
    margin: 0;
    padding: 0;
}

    .big-menu .navbar-default {
        background-color: #33ca93;
        background-image: none;
        box-shadow: none;
    }

    .big-menu .navbar {
        border-width: 0;
    }

.navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
    border-width: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
}

/*a img{
	margin: 10px 0px;
} use image logo */

.first-line-menu {
    margin: 0;
    padding: 10px 10px;
    height: 70px;
}

    .first-line-menu a {
        margin: 0px 20px;
        position: relative;
    }

    .first-line-menu .form-control {
        margin: 0;
        margin-left: 5px;
        width: 360px;
    }

    .first-line-menu button {
        margin-left: -20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.second-line-menu {
    margin: 0;
    padding: 0px 0px;
    height: 60px;
}

.main-screen {
    margin: 15px 15px 15px 15px; /*15px 100px 0px 130px*/
    padding: 0 15px;
    /*background-color: green;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;*/
    height: auto;
    background:rgb(204, 203, 203);
}

.main-screen .row {
    padding: 0;
}

.main-screen img {
    max-height: 600px;
    padding-left: 18%
}
.get-center {
    width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.h3-pmt {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 10px 5px;
    border-left: 5px solid #ef9c3e;
    border-right: 5px solid #ef9c3e;
    background-color: #224545;
    color: #fff;
}
.add-pmt-box {
    width: 800px;
    background-color: #fff;
}
.row {
    margin: 0;
    padding: 0;
}
.pmt-box p {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
}
.ipt-info {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(160, 141, 141);
    background: transparent;
    outline: none;
    height: 35px;
    color: #33ca93;
    font-size: 16px;
}
/*DATE PICKER*/
[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

    [type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
    [type="file"] {
        border-bottom:none;
        
        
    }
#LoaiQC {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px;
    color: #33ca93;
}

#ViTriQuangCao {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px;
    color: #33ca93;
}
.row input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 130px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 320px;
    margin-bottom: 30px;
    font-size: 20px;
    background: #33ca93;
    cursor: pointer;
    border-radius: 20px;
}
table{
    font-size:20px;

}
