
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Trang chủ</title>
    
</head>
<body>
    
    <div class="container-fluid main-screen">
        <!-- introduce -->
        <div class="row">
            <!-- menu2 -->
            <div id="menu2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @for (int i = 1; i < 6; i++)
                {
                    <a href="muc1.html" target="_blank">Mục @i</a>
                }
            </div>
            <!-- big item show : best seller-->
            <a href="~/Book/Detail?id=S000000004">
                <div id="big-item-show" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0;">
                    <img src="~/Image/bestsell.png" style="width: 100%; height: 100%" />
                </div>
            </a>
            <!-- small-item-show: new arrived -->
            <a href="~/Book/Detail?id=S000000004">
                <div id="small-item-show" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <img src="~/Image/Sale/km1.png" style="width: 100%; height: 100%" />
                </div>
            </a>
            <!-- 2 smaller itemshow-->
            <div id="smaller-item-show" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <!-- first itemshow -->
                <div class="row">
                    <div class="first-item-show">

                        @if (ViewBag.DsQC != null)
                        {
                            int pb = 1;
                            foreach (var item in ViewBag.DsQC)
                            {
                                if (item.ViTriQuangCao == "vitri1")
                                {
                                    pb = 0;
                                    <a>
                                        <img src="~/@item.HinhQC" style="width: 100%; height: 100%" />
                                    </a>
                                    break;
                                }
                            }
                            if (pb == 1)
                            {
                                <a>
                                    <img src="~/Image/Content/content1.png" style="width: 100%; height: 100%" />
                                </a>
                            }

                        }

                    </div>
                </div>
                <!-- second itemshow -->
                <div class="row">
                    <div class="row">
                        <div class="second-item-show">
                            @if (ViewBag.DsQC != null)
                            {
                                int pb = 1;
                                foreach (var item in ViewBag.DsQC)
                                {
                                    if (item.ViTriQuangCao == "vitri2")
                                    {
                                        pb = 0;
                                        <a>
                                            <img src="~/@item.HinhQC" style="width: 100%; height: 100%" />
                                        </a>
                                        break;
                                    }
                                }
                                if (pb == 1)
                                {
                                    <a>
                                        <img src="~/Image/Content/content2.png" style="width: 100%; height: 100%" />
                                    </a>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid category">
        <div id="deal-book" class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3 style="text-align: center; padding-top: 45%;">Sách giảm giá:</h3>
            </div>
            @foreach (var item in ViewBag.DsSachDeal)
            {
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="~/Book/Detail?id=@item.MaSach">
                        <div class="book-box">
                            <img src="~/@item.HinhSach" style="height: 100%; width: 100%" />
                        </div>
                    </a>
                </div>
            }
        </div>
        <!-- Sách của tháng	-->
        <div id="month-book" class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3 style="text-align: center; padding-top: 45%;">Sách của tháng:</h3>
            </div>
            @foreach (var item in ViewBag.DsSachDeal)
            {
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="~/Book/Detail?id=@item.MaSach">
                        <div class="book-box">
                            <img src="~/@item.HinhSach" style="height: 100%; width: 100%" />
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</body>
</html>
